.scroll {
    &Y {
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 0.2rem;
        }
        &::-webkit-scrollbar-thumb {
            background: #333;
        }
    }
}

.loading {
    &Spin {
        @apply w-4 h-4 inline-block border-b-2 border-b-gray-300 rounded-full animate-spin;
    }
}
